.title{
    color: rgb(168, 2, 2);
    text-align: center;
    font-family: Verdana;
    font-size: 70px;
    transition: transform 0.3s;

}

body{
    background-color: black;
}

.title:hover, .desc_rect:focus {
    transform: scale(1.05); /* Ingrandisce l'oggetto del 20% quando il mouse è sopra o l'oggetto è in focus */

}

.title {
    transform: scale(1); /* Torna alle dimensioni originali quando il mouse è rimosso o l'oggetto perde il focus */

}

.testo{
    color: white;
    font-family: sans-serif;
    font-size: 18px;

    width: 700px;
    height: 100px;
    position:absolute;
    top: 37%;
    left: 2%;
}

.title1{
    color:white;
    font-family: sans-serif;
    font-size: 50px;
    text-align:left;
    position:absolute;
    top: 25%;
    left:2%;
}

.immagine{
    width: 530px;
    height: 300px;
    position:absolute;
    top: 25%;
    right: 3%;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    border-radius:100px;
}

.text-rect{
    background-color: darkred;
    width: 715px;
    height: 350px;
    border: 5px solid rgb(87, 1, 1);
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left:1%;
    z-index:-1;
}

.Imgrussia{
    width: 100px;
    height: 60px;
    position:absolute;
    top: 3%;
    right: 3%;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    border-radius:100px;
}

.Imgucraina{
    width: 100px;
    height: 60px;
    position:absolute;
    top: 3%;
    left: 3%;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    border-radius:100px;
}

.text2{
    color:white;
    font-family: sans-serif;
    font-size: 18px;

    width: 700px;
    height: 100px;
    position:absolute;
    top: 133%;
    right: 2%;
}

.text1-rect{
    background-color: darkred;
    width: 715px;
    height: 280px;
    border: 5px solid rgb(87, 1, 1);
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 120%;
    right:1%;
    z-index:-1;
}

.title2{
    color:white;
    font-family: sans-serif;
    font-size: 50px;

    position:absolute;
    top: 119%;
    right:2%;
}

.immagine2{
    width: 530px;
    height: 310px;
    position:absolute;
    top: 119%;
    left: 3%;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    border-radius:100px;
}

.title3{
    color:white;
    font-family: sans-serif;
    font-size: 50px;

    position:absolute;
    top: 190%;
    left:2%;
}

.donbass-rect{
    background-color: darkred;
    width: 715px;
    height: 350px;
    border: 5px solid rgb(87, 1, 1);
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 188%;
    left:1%;
    z-index:-1;
}

.immagine3{
    width: 530px;
    height: 310px;
    position:absolute;
    top: 190%;
    right: 3%;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    border-radius:100px;
}

.text3{
    color:white;
    font-family: sans-serif;
    font-size: 18px;

    width: 700px;
    height: 100px;
    position:absolute;
    top: 205%;
    left: 2%;
}

.titletabella{
    color:white;
    font-family: sans-serif;
    font-size: 70px;

    position:absolute;
    top: 250%;
    left:20%;
}

.immaginetabella{
    width: 1000px;
    height: 500px;
    position:absolute;
    top: 280%;
    left: 13%;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    border-radius:100px;
}
